::-moz-selection { /* Code for Firefox */
    color: skyblue;
    background: transparent;
}

::selection {
    color: skyblue;
    background: transparent;
}
body,
html,
* {
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Avanti', arial;
}
body {

	background-color: #dadada;
}
h2{
	font-weight: normal;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.t-right {
	text-align: right;
}


nav {
	height: 60px;
	width: 1200px;
	display: block;
	margin: 0 auto;
	position: fixed;
	right: 0;
	left: 0;
	background-color: #1e1e1e;
	z-index: 999;
}
nav .t-right {
	margin-right: 8px;
	font: 20px/60px 'Avanti', arial;
	position: relative;
}
nav p.t-right::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 35px; 
	top: 12.5px;
	left: 40px;
	background-image: url('../images/needs/white phone icon.png');
	background-size: 100% 100%;
}
nav .col-20 {
	width: 20%;
	position: relative;
}
nav .col-60 {
	width: 60%;
	text-align: center;
	position: relative;
}
nav ul {
	position: relative;
}
nav ul li {
	position: relative;
	display: inline-block;
	margin-left: 25px;
}
nav div.col-60 ul li a {
	position: relative;
	font: 22px/60px 'Avanti', arial;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s;
}
nav div.col-60 ul li a:hover {
	color: #bbb;
}
nav img {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

nav div.col-60 ul li a::after {
	content: '';
	position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #bbb;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
}
nav div.col-60 ul li a:hover::after {
	transform: scaleX(1);
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Section 1    НАЧАЛО */

#layer-1 {
	width: 1200px;
	height: 1000px;
	position: relative;
	margin: auto;
	background-color: #1e1e1e;
	z-index: 0;
}
.topbackground {
	position: absolute;
	display: block;
	margin: auto;
	width: 1200px;
	z-index: -1;
}
#layer-1 .logo {
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
}
.l1-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 150px;
}
#layer-1 h1 {
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: normal;
}
#layer-1 h2 {
	text-align: center;
	margin-top: 5px;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}
#layer-1 .jars {
	display: block;
	margin: auto;
	margin-top: 40px;
}
#layer-1 input[type="button"] {
	display: block;
	width: 180px;
	height: 50px;
	border: none;
	background-color: white;
	color: black;
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	z-index: 10;
	letter-spacing: 2px;
	transition: all 0.2s;
	cursor: pointer;
	position: relative;
}
#layer-1 input[type="button"]:hover {
	animation: pulse .6s ease-out 0s 1 normal;
}
#layer-1 .leaf-divider {
	width: 200px;
	display: block;
	margin: auto;
	margin-top: 15px;
}

/* SECTION 2   КОИ СМЕ НИЕ   */ 

#layer-2 {
	width: 1200px;
	margin: auto;
	padding: 100px 0 60px;
	position: relative;
	background-color: #fff;
}
#layer-2 h2 {
	text-transform: uppercase;
	color: #1e1e1e;
	margin-left: 120px;
	font-size: 40px;
	position: relative;
}
#layer-2 h2::before {
	content: '';
	position: absolute;
	background-image: url('../images/needs/green logo.png');
	background-size: 100% 100%;
	width: 80px;
	height: 80px;
	top: -20px;
	left: -100px;
	z-index: 5;
}
#layer-2 h2 i {
	font-style: normal;
	color: #1e9108;
}
#layer-2 h2, #layer-2 h2 i {
	letter-spacing: 2px;
}
#layer-2 div {
	margin-top: 30px;
}
#layer-2 p {
	width: 50%;
	margin: auto;
	font-size: 24px;
	color: #1e1e1e;
	text-indent: 40px;
}
#layer-2 img {
	display: block;
	margin: 20px auto 20px;
}


/*  Section 3  КЪДЕ ЩЕ НИ ОТКРИЕТЕ  */

#layer-3 {
	width: 1200px;
	margin: auto;
	position: relative;
	background-color: #fff;
}
#layer-3 .l3-bgbox {
	width: 800px;
	position: relative;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	height: 150px;
	background-color: #4f3813;
	padding: 15px;
	box-sizing: border-box;
	margin: auto;
}
#layer-3 .l3-bgbox .l3-borderbox {
	width: 100%;
	height: 100%;
	border: 3px dotted #bbb;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	box-sizing: border-box;
	padding-left: 15px;
	margin: auto;
}
#layer-3 .l3-bgbox .l3-borderbox h2 {
	font: 50px/120px 'Avanti';
	text-transform: uppercase;
}
#layer-3 .l3-bgbox .l3-borderbox p button {
	background-color: #669233;
	text-align: center;
	width: 130px;
	height: 45px;
	font: 100%/45px 'Avanti';
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 37.5px 15px 0 0;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
#layer-3 .l3-bgbox .l3-borderbox p button::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 100%;
	left: 0;
	transition: all 0.1s;
}
#layer-3 .l3-bgbox .l3-borderbox p button:hover::after {
	top: 90%;
}
/* Section 4    ПРОДУКТИ   */

#layer-4 {
	width: 1200px;
	height: 450px;
	margin: auto;
	background-color: #fff;
	padding-top: 40px;
	box-sizing: border-box;
	position: relative;
}
#layer-4 #l4-scroll-pos {
	position: absolute;
	top: -220px;
}
#layer-4 .col-50 {
	width: 50%;
	height: 100%;
	padding: 40px 0 0;
}
#layer-4 .col-50 .col-50 {
	width: 50%;
	text-align: left;
}
#layer-4 .col-50.left .col-50.right h2,
#layer-4 .col-50.right .col-50.right h2 {
	height: 60px;
}
#layer-4 .col-50.left .col-50.right p,
#layer-4 .col-50.right .col-50.right p {
	height: 160px;
	margin-top: 10px;
	color: #1e1e1e;
}
#layer-4 .col-50 img {
	width: 120px;
	height: 210px;
	display: block;
	margin: 10px auto 10px;
}
#layer-4 .col-50.right {
	padding-right: 20px;
	box-sizing: border-box;
}
#layer-4 .col-50 h2 {
	text-transform: uppercase;
	color: #1e1e1e;
	font-size: 30px;
}
#layer-4 .col-50 h2 i {
	font-style: normal;
	color: #669233;
}
#layer-4 .col-50 a {
	color: #669233;
	text-transform: uppercase;
	text-decoration: none;
}
#layer-4 .col-50 input[type="button"] {
	width: 150px;
	height: 40px;
	background-color: #fff;
	color: #1e1e1e;
	font: 100%/40px 'Avanti';
	text-transform: uppercase;
	border: 2px solid #4f3813;
	box-sizing: border-box;
	display: block;
	margin: auto;
	cursor: pointer;
	transition: all 0.33s;
}
#layer-4 .col-50.left .col-50.left input[type="button"] {
	background-color: #fff;
	border: 2px solid #4f3813;
}
#layer-4 .col-50.left .col-50.right input[type="button"] {
	background-color: #4f3813;
	color: #fff;
	font-size: 13px;
	margin-top: 35px;
	border: 2px solid #4f3813;
}
#layer-4 .col-50.right .col-50.left input[type="button"] {
	background-color: #fff;
	border: 2px solid #fff;
}
#layer-4 .col-50.right .col-50.right input[type="button"] {
	background-color: #4f3813;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	margin-top: 35px;
}
#layer-4 .col-50.left .col-50.left input[type="button"]:hover,
#layer-4 .col-50.left .col-50.right input[type="button"]:hover,
#layer-4 .col-50.right .col-50.left input[type="button"]:hover,
#layer-4 .col-50.right .col-50.right input[type="button"]:hover {
	background-color: #669233;
	color: #fff;
	border: 2px solid #669233;
}
#layer-4 .col-50.right .col-50.right h2,
#layer-4 .col-50.right .col-50.right p {
	color: #fff;
}
#layer-4 .col-50.right {
	background-color: #4f3813;
}
#layer-4 .col-50.left .col-50.right {
	background-color: transparent;
}
/* Section 5    КОНТАКТИ  */

#layer-5 {
	width: 1200px;
	position: relative;
	margin: 30px auto 0;
	padding-top: 40px;
}
#layer-5::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #fff;
	top: -40px;
	left: 0;
}
#layer-5 img.botbg {
	width: 100%;
	display: block;
	position: absolute;
	transform: translateY(-40px);
	z-index: -1;
}
#layer-5 .l5-static-contacts {
	position: relative;
	width: 100%;
	height: 150px;
	color: #1e1e1e;
	padding-top: 30px;
	font: 24px/150px 'Avanti';
}
#layer-5 .l5-static-contacts img {
	width: 150px;
	height: 150px;
	margin-right: 55%;
	display: block;
}
#layer-5 .l5-static-contacts .col-40.right {
	margin-right: 30px;
}
#layer-5 .l5-static-contacts .col-40.left {
	margin-left: 90px;
}
#layer-5 .l5-static-contacts .col-40.left .phone::before {
	content: '';
	position: absolute;
	top: 55px;
	left: -50px;
	width: 30px;
	height: 40px;
	background-image: url('../images/needs/phone icon.png');
	background-size: 100% 100%;
}

#layer-5 .l5-static-contacts .col-40.right .mail::before {
	content: '';
	position: absolute;
	top: 60px;
	left: -60px;
	width: 45px;
	height: 30px;
	background-image: url('../images/needs/mail icon.png'); 
	background-size: 100% 100%;
}
#layer-5 .mail,
#layer-5 .phone {
	color: #1e1e1e;
	position: relative;
}


#layer-5 .questions {
	width: 50%;
	padding: 50px 20px 20px 20px;
	box-sizing: border-box;
	margin: auto;
	position: relative;
}
#layer-5 .questions p {
	position: relative;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	color: #1e1e1e;
}
#layer-5 .questions p i {
	position: relative;
	font-style: normal;
	color: #669233;
}
#layer-5 .questions input[type="text"] {
	display: block;
	width: 240px;
	height: 40px;
	margin: 10px auto;
	background-color: rgba(0,0,0,0.3);
	border: none;
	color: #fff;
	text-indent: 10px;
	font-size: 20px;
	position: relative;
}
#layer-5 .questions textarea {
	display: block;
	margin: 10px auto;
	background-color: rgba(0,0,0,0.3);
	width: 400px;
	height: 100px;
	resize: none;
	border: none;
	color: #fff;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
}
#layer-5 .questions input[type="submit"] {
	display: block;
	width: 160px;
	height: 40px;
	background-color: #669233;
	border: none;
	font-size: 20px;
	margin: 15px auto;
	cursor: pointer;
	position: relative;
}
#layer-5 .questions input[type="submit"]:hover {
	animation: pulse 0.6s ease-out 0s 1 normal;
}

/* Footer */

footer {
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #4f3813;
	margin-top: 50px;
	box-sizing: border-box;
	overflow: hidden;
}
footer .col-30 {
	width: 30%;
}
footer .col-30 img {
	height: 35px;
	margin: 7.5px 10px;
	transition: transform 0.25s;
}
footer .col-70 {
	width: 70%;
	font: 19px/50px 'Avanti';
	text-indent: 30px;
}
footer .col-30 img:hover {
	transform: scale(0.9);
	filter: brightness(0.7);
}

/* MODALS  */

#modal-box,
#modal-box2,
#modal-box3,
#modal-box4 {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 899;
	display: none;
}
#modal-box4 {
	background-color: transparent;
	z-index: 899;
}

#modal-order {
	width: 55%;
	height: 500px;
	position: relative;
	top: 100px;
	left: 22.5%;
	background-color: white;
	border-top: 4px solid #669233;
	z-index: 900;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	display: none;
	animation: modalShow 0.3s ease-out 0s 1 normal;
}
#modal-order .close {
	color: #444;
	width: 20px;
	height: 20px;
	font: 18px/20px 'Avanti';
	text-align: center;
	position: absolute;
	box-sizing: border-box;
	padding-left: 2px;
	top: 6px;
	right: 10px;
	transform: scaleX(1.1);
	cursor: pointer;
	transition: all 0.25s;
}
#modal-order .close:hover {
	background-color: #f00;
	color: #fff;
}
#modal-order .col-50 {
	width: 50%;
}
#modal-order .col-40 {
	width: 40%;
}
#modal-order img {
	width: 80px;
	height: 80px;
	display: block;
	margin: 10px auto 0;
}
#modal-order p {
	text-align: center;
	color: #669233;
	font-size: 30px;
	text-transform: uppercase;
	margin: 20px 0 10px;
}

#modal-order input[type="text"],
#modal-order textarea,
#modal-order input[type="submit"] {
	width: 170px;
	height: 35px;
	margin: 7px auto;
	border: none;
	border-left: 2px solid #669233;
	border-bottom: 2px solid #669233;
	color: #1e1e1e;
	letter-spacing: 1px;
	text-indent: 12px;

}
#modal-order textarea {
	width: 240px;
	height: 60px;
	padding: 10px 0 0 10px;
	text-indent: 0;
	resize: none;
	box-sizing: border-box;
}
#modal-order input[type="submit"] {
	border: 2px solid #669233;
	background-color: #669233;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 2px;
	text-indent: 0;
	display: block;
}
#modal-order input[type="submit"]:hover {
	background-color: #fff;
	color: #669233;
}
#modal-order i {
	font-style: normal;
	color: #f00;
	font-size: 22px;
}
#modal-order .col-50 h2 {
	text-align: center;
	color: #669233;
	font-size: 22px;
}
#modal-order .hoverProduct {
	width: 45%;
	display: inline-block;
	height: 150px;
	position: relative;
	box-sizing: border-box;
}
#modal-order .hoverProduct:nth-of-type(2) {
	margin-left: 5%;
}
#modal-order .hoverProduct img {
	width: 70%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	transition: transform 0.25s;
}
#modal-order .hoverProduct:hover img {
	transform: scale(1.1);
}
#modal-order .hoverProduct p {
	margin-top: 20px;
	font-size: 18px;
	color: #1e1e1e;
	position: relative;
	font-weight: bold;
	text-indent: 5px;
}
#modal-order .hoverProduct span {
	font-size: 20px;
	color: #1e1e1e;
} 
#modal-order .hoverProduct h2 {
	width: 33%;
	color: #1e1e1e;
}
#modal-order .hoverProduct h2.btn {
	cursor: pointer;
	font-size: 20px;
	color: #669233;
}

#modal-info {
	width: 55%;
	height: 550px;
	top: 75px;
	position: relative;
	margin: auto;
	background-color: #fff;
	border-top: 4px solid #669233;
	box-sizing: border-box;
	display: none;
	overflow: scroll;
	animation: modalShowTwo 0.3s ease-out 0s 1 normal;
}
#modal-info .close {
	color: #444;
	width: 20px;
	height: 20px;
	font: 18px/20px 'Avanti';
	text-align: center;
	position: absolute;
	box-sizing: border-box;
	padding-left: 2px;
	top: 6px;
	right: 10px;
	transform: scaleX(1.1);
	cursor: pointer;
	transition: all 0.25s;
	z-index: 10;
}
#modal-info .close:hover {
	background-color: #f00;
	color: #fff;
}
#modal-info p {
	width: 75%;
	margin: auto;
	text-indent: 25px;
	font-size: 20px;
	color: #1e1e1e;
}
#modal-info img {
	width: 75%;
	display: block;
	margin: 10px auto;
	display: none;
}
#modal-info h2 {
	height: 130px;
	font: 35px/130px 'Avanti';
	margin-left: 120px;
	color: #1e1e1e;
	position: relative;
}
#modal-info #tahan-info-heading::before {
	content: '';
	position: absolute;
	top: 27.5px;
	left: -100px;
	width: 75px;
	height: 75px;
	background-image: url('../images/needs/yellowgreen logo.png');
	background-size: 100% 100%;
}
#modal-info h2 i {
	font-style: normal;
	color: #669233;
}
#modal-info .wrapper {
	margin-top: 50px;
}

#modal-partners {
	width: 55%;
	height: 450px;
	top: 100px;
	position: relative;
	margin: auto;
	background-color: #fff;
	border-top: 4px solid #669233;
	box-sizing: border-box;
	display: none;
	animation: modalShowTwo 0.3s ease-out 0s 1 normal;
}
#modal-partners .close {
	color: #444;
	width: 20px;
	height: 20px;
	font: 18px/20px 'Avanti';
	text-align: center;
	position: absolute;
	box-sizing: border-box;
	padding-left: 2px;
	top: 6px;
	right: 10px;
	transform: scaleX(1.1);
	cursor: pointer;
	transition: all 0.25s;
	z-index: 10;
}
#modal-partners .close:hover {
	background-color: #f00;
	color: #fff;
}
#modal-partners img {
	width: 50%;
	display: block;
	margin: 5% auto;
}
#modal-partners div {
	width: 50%;
	height: 50%;
	padding-left: 55px;
	box-sizing: border-box;
}
#modal-partners h1 {
	height: 80px;
	font: 30px/100px 'Avanti';
	color: #669233;
	text-indent: -30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 10px;
}
#modal-partners dl dd {
	color: #1e1e1e;
	font-size: 20px;
	line-height: 25px;
	position: relative;
}
#modal-partners dl dd::before {
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: -30px;
	background-image: url('../images/needs/yellowgreen logo.png');
	background-size: 100% 100%;
}
#modal-partners dl dd a {
	text-decoration: none;
	color: #1e1e1e;
	text-transform: capitalize;
}
#modal-alert {
	width: 600px;
	height: 120px;
	background-color: #669233;
	font: 30px/120px 'Avanti';
	margin: 0 auto;
	top: 200px;
	text-align: center;
	position: relative;
	display: none;
	animation: modalShow 0.2s ease-out 0s 1 normal;
}
#modal-alert .close {
	width: 20px;
	height: 20px;
	font: 18px/20px 'Avanti';
	text-align: center;
	position: absolute;
	box-sizing: border-box;
	padding-left: 2px;
	top: 6px;
	right: 10px;
	transform: scaleX(1.1);
	cursor: pointer;
	transition: all 0.25s;
	z-index: 10;
}
#modal-alert .close:hover {
	background-color: #f00;
	color: #fff;
}
/* Animations */

@keyframes modalShow{
	from{
		opacity: 0;
		transform: scale(0.9);
	} to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes modalShowTwo{
	from{
		opacity: 0;
		transform: scale(0.9);
	} to {
		opacity: 1;
		transform: scale(1);
	}
}